body {
  padding-bottom: 50px;
  font-family: "微軟正黑體";
}

h1 {
  margin-bottom: 70px; 
}

h2 {
  margin-bottom: 25px;
  margin-left: -15px; 
}

h3 {
  margin-bottom: 10px; 
}

.block {
  margin-bottom: 40px;
}

.secTitles{
  margin-top:30px;
}

.limitType {
  margin-top: 0px
}

.intro {
  font-size: 16px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.inputTitle {
  color: #428bca;
  margin-top: 10px;
}

.inputTitle2 {
  color: dark-grey;
  margin-top: 10px;
}

.visualization {
  margin-bottom: 30px;
}

.plot_title {
  margin-bottom: 30px;
}

.list li {
  font-size: 16px;
  padding-bottom: 10px;

}

.single {
  padding-top: 5px;
}

#output_II01_01 {
  color: dark-grey;
  font-size: 160px;
}

#output_II01_02 {
  color: dark-grey;
  font-size: 40px;
}

#output_II01_03 {
  color: dark-grey;
  font-size: 40px;
  font-style: bold;
}

